html{
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color:black;
    opacity: 0.9; 
    text-align: center;
}

*{
    margin: 0 auto;
    padding: 0 auto; 
}

.logo {
    float: left;
    margin: 10px;
    width: auto;
    height: 50px; 
}

header{
    position: fixed; 
    width: 100%;
    background-color: black;
    opacity: 0.9;
    border-bottom: 1px solid seashell; 
    z-index: 10;
}

nav{
    text-align: right; 
    padding: 1em; 
}

a{
    padding: 1em;
    color: seashell; 
}

#Mission, #Locations{
    margin-bottom: 2em; 
    margin-left: 2em; 
    margin-right: 2em;
}

#Mission{
    padding-top: 3.2em;
    height: 31em; 
    background-image: url(pictures/mission-background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
}

#text-container{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    height: 31em; 
    width: 100%; 
    background-color: transparent;
}
#text{
    display: inline-block; 
    width: 100%;
    background-color: black; 
    opacity: 0.9; 
    padding-top: 1em; 
    padding-bottom: 1em; 
}

.copyright{
    text-align: left; 
}

#question{
    margin-bottom: 1em;
}
 
#gallery{
    display: inline-flex;
    flex-wrap: wrap; 
    width: 100%; 
    height: 25em;
    justify-content: center; 
}

#image-container{
    margin: 1em; 
    height: 11em;
    width: 13.6em;
    display: inline-block; 
}

#gallery img{
    height: 9rem;
    width: 13.6rem; 
}

#Locations{
    margin-top: 3.2em; 
    height: 22.7em;
    background-image: url(pictures/locations.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    display: flex; 
    flex-direction: column;
    justify-content: center;
}

#Location-listing{
    display: inline-flex;
    justify-content: space-around;
}

#location{
    display: inline-block; 
    background-color: black; 
    opacity: 1; 
    line-height: 3em; 
    width: 13.6em; 
    margin: 1.4rem; 
}

.contact{
    line-height: 2em;
}

.copyright{
    margin: 2em 0.5em;
}